{% extends 'base/base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/codemirror.css') }}">
{% endblock styles %}

{% block body %}
    <div class="container p-3">
        <form method=post action="/compile" enctype=multipart/form-data id="ccl_code">
            <div class="row">
                <div class="col">
                    <h1 style="margin-bottom: 30px" class="font-weight-bold">Atomic Charge Calculator
                        <span style="color: #28a745">II</span> + CCL</h1>
                    <p><span class="font-weight-bold">Atomic Charge Calculator <span
                            style="color: #28a745">II</span> + CCL</span>
                        (ACC II + CCL) is an extension to original <a href="https://acc2.ncbr.muni.cz" target="_blank"
                                                                      rel="noreferrer">ACC II</a> allowing to specify a
                        charge calculation method in a simple domain specific language - CCL.
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 form-group">
                    <label for="methods"> Preload example</label>
                    <select id="methods" class="custom-select">
                        <option value="">-- select one --</option>
                        {% for method in methods %}
                            <option value="{{ method }}"> {{ method }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="code">Code in CCL</label>
                    <textarea rows="10" cols="80" form="ccl_code" id="code" name="code"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="output"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-secondary" type="button" id="generate_pdf">Generate PDF</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary" type="submit" id="compile">Compile</button>
                </div>
            </div>
        </form>

        <hr>
        {% include 'base/elixir.html' %}
        <hr>
        {% include 'base/footer.html' %}
    </div>



{% endblock body %}

{% block scripts %}
    <script src="{{ url_for('static', filename='jquery/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/simple.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/ccl.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock scripts %}
